/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}
/*  END RESET */
/* FORSIDE CSS */
body {
    font-family: 'Montserrat';
    background-color: #dadedf;
    color: #556672;
}

nav {
    background-color: #556672;
    padding: .4em;
}
/* FORSIDE CSS SLUT */
/* Sektion CSS START */
#sektion h1 {
    font-size: 3em;
    margin-top: .4em;
    margin-bottom: 1em;
}

#logoogoverskrift {
    grid-area: logo;
}

#pilevenstre {
    width: 15%;
    margin: auto;
}

#pilehojre {
    width: 15%;
    margin: auto;
}

#vpil1 {
    grid-area: pilv1;
}

#sag1 {
    grid-area: varer1;
}

#hpil1 {
    grid-area: pilh1;
}

#sektion {
    grid-area: konfig;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "logo logo logo"
        "pilv1 vare1 pilh1";
}

#pilevenstre img {
    width: 80%;
    margin-bottom: 150px;
}

#pilehojre img {
    width: 80%;
    margin-bottom: 1.2em;
    margin-bottom: 150px;
}

.forstepil {
    margin-top: 5em;
}

#logo {
    width: 18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: 1em;
}

#sager img {
    width: 70%;
}

button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1.5em;
    margin-bottom: 3em;
    border:0.1em solid #556672;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.2s;
    background-color: #DADEDF;
    padding:0.35em 1.2em;
    color: #556672;
    font-size: 1.4em;
}

a:link {
    text-decoration: none;
}
/* Sektion CSS SLUT */